@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;

  --bg-color: rgba(236, 236, 236, 0.486);
  /* --bg-color-element: rgba(252, 252, 252, 0.774); */
  --bg-color-element: rgb(252, 252, 252);
}