header {
    
}

.header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 25px auto;
}

.header_item {
    margin: 0 15px;
}

.header_item:hover {
    cursor: pointer;
}

